[2021-01-18 23:39] sere69sp commented on #391
I have format the user data partition and DONE!!!!! you are my best friend right now!!!!! thank you so much

[2021-01-18 23:39] #391 closed, assigned to nobody

[2021-01-24 18:12] Miva1 opened #392 "NES Classic Mini: system does not reboot after rolling back to original kernel"
Hi,

I have a Hakchi CE v.3.8.0 installed on my NES Classic Mini. I was trying to uninstall hakchi and roll back to original kernel but the console is not rebooting after the process is completed (original kernel installed). The console turns on but shows a message "shutting down" after few seconds on TV screen.

I have tried it several times by reinstalling hakchi and then pressing the "Uninstall

[2021-01-24 18:39] DanTheMan827 commented on #392
I’m assuming you used hakchi2 not hakchi2 ce

you flashed the wrong kernel version back to the system when you uninstalled, see the instructions below:

So, you used Hakchi2.30, messed up your console, and now it just shuts down right away... and of course you want to fix it, right?

Well, depending on which system you have, you'll have to find one of these clean kernel backups from your favorite

[2021-01-24 19:23] Miva1 commented on #392
Thanks for reply and instructions.
I actually used Hakchi CE 3.7.0 originally, around 1 year ago, when I installed custom kernel. I just happened to loose the original kernel and now struggling to roll back.

I am not sure which production batch (1st or 2nd) my console is or which kernel version it should have. Is there a way to find it out except trial & error by following the procedure described

[2021-01-25 00:47] DanTheMan827 commented on #392
The only way to determine which version would be to open the system and look at the print on the circuit board.

However, there’s no risk to flashing the wrong kernel, it just won’t start and you try the other one.

[2021-01-25 16:06] Miva1 commented on #392
The issue is solved now. Thanks for helping out!

[2021-01-25 16:06] #392 closed, assigned to nobody

[2021-01-30 18:15] mmrocha1982 opened #393 "SNES Classic not keeping turned on when having a USB stick + 2 8bitdo retro receivers connected"
**Describe the bug**
Sometimes, when using a USB stick through a USB OTG adapter at the same time of 2 8bitdo retro receivers, each one in a controller port, the unit power light would turn on briefly, turning off a few seconds later.
(a)If I disconnect one of the retro receivers, leaving one retro receiver and the usb stick the unit turns on and works normally. (b)The same happens if I disconnect

[2021-01-30 19:07] impeeza commented on #393
Be sure of been using the original AC adapter or a good 2Amp. One. The problem you describe is related to high current use I did have the same issue some time, changing to the original adapter fix the problem

[2021-01-30 20:20] mmrocha1982 commented on #393
Thanks for the input. I've just tried a Samsung Adaptive Fast Charger, that came with my A8, which is rated 2.0 amp, and the results are the same.  I'll try using the internal memory or a newer usb drive, and I'll post the results later.

By the way, my unit didn't come with the original adapter. I've read somewhere only units sold in the USA and Canada came with them.

[2021-02-01 02:50] impeeza commented on #393
FYI this is my configuration: USB OTG adapter with USB Wi-fi, internal SD card soldered to test points, two Retro Receiver adapters. Original NES AC "brick" 😜
For me all is working fine
![IMG_20210131_214419](https://user-images.githubusercontent.com/41979604/106409296-3b2c2280-640e-11eb-992b-4a47d2ae4512.jpg)

[2021-02-01 19:24] TheDantastic opened #394 "SNES & NES classics not recognised by 3.8"
**Describe the bug**
previously used SNES and NES not being detected by Hakchi, used 2 laptops, 1 desktop, multiple cables and ports.

**To Reproduce**
Run Hakchi,
Connect NES/SNES to Laptop/desktop.
Switch on NES/SNES
Windows confirms connection with audible signal.
Hakchi continues to display red dot.
Driver downloaded as per FAQ's. Installed and device manager identifies NES/SNES
Hakchi still s

[2021-02-01 19:57] DanTheMan827 commented on #394
The SNSY device only shows up when you turn the system on without hakchi installed, install hakchi from the Kernel menu and follow the instructions

Use the [latest hakchi2 ce](https://www.github.com/TeamShinkansen/Hakchi2-CE/releases/latest) (3.8 at the time of this message)

[2021-02-01 20:14] impeeza commented on #394
The evidence shows you haven't installed Hakchi nor the drivers please read the documentation and if you need help or support please go to the appropriate sources, the Bug report is not for support instead for real problems

[2021-02-01 20:49] TheDantastic commented on #394
The screen shot was taken before the driver was installed.
As per the comments. An older version of Hakchi has previously been used and additional Roms loaded and used. I’m looking to add more games and remove some that are less than perfect.
I updated Hakchi to add more roms to my Genesis. Now the NES and SNES are no longer recognised.

[2021-02-02 00:50] mmrocha1982 commented on #393
Nice setup you got! I Hakchi turned these consoles into much more capable machines. I didn't want to solder anything to my SNES, since I don't have the proper skills, so I'm trying using a USB stick. I'm now using a Kingston 32gb 3.0, which is much faster than the other sticks and seems to have fixed the issue. I'll post the results as soon as possible.

[2021-02-02 16:11] Bluekerman opened #395 "Device Reboot Too Slow"
Hello There My Mini's Are Taking Too Long To Reboot
I've Tried Both The SNES And NES And It Keeps Saying "Device Taking Too Long To Reboot"
I Haven't Modded My Mini's Since 2019 I Belive
I've Done It On Previous Versions But Not CE 3.8
Help!
![image](https://user-images.githubusercontent.com/78433470/106628070-6e260180-6547-11eb-8279-2576284a74db.png)

Maybe It's Because I Was Previously Running H

[2021-02-02 16:29] DanTheMan827 commented on #394
Since you updated hakchi and it isn't being recognized, you'll need to go through the install process again, `Kernel > Reset` will re-install a clean copy of hakchi onto the system.

[2021-02-02 16:29] #394 closed, assigned to nobody

[2021-02-07 23:44] FIXXER3000 opened #396 "top gear 3000 U or E does not work...."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-08 02:35] impeeza commented on #396
¿?

[2021-02-25 21:21] HardDie commented on #327
I have a problem with Rock 'n' Roll Racing in 2 player mode.
In a race, only the first player screen is displayed.
I checked Linux Sega emulator dgen, it has the same problem.

Just in case:
[code]

[2021-02-28 00:11] hinson20 opened #398 "the problems ive had with hackchi over the past 4 years"
here are my complaints about hackchi and what i think needs to be fixed
but first the problems:

1. everytime i load or mod anymore games a unknown file code error appears that makes no sense
2. unsupported nes games with incorrect mappers
3. no unlimted storage
4. and everytime i save a game on the system it shows a random error that makes no sense
5. everytime i go to a game it just shows a gray

[2021-02-28 01:24] DanTheMan827 commented on #398
- Are you talking about the C8 error? if so, don't put so many games in a single page.
- NES compatibility through kachikachi (the built-in emulator) can't be improved, use retroarch for incompatible games
- Removing the storage warning makes no sense because you can't magically add space to a system
- Again, what error?
- Don't use the stock emulator for incompatible games.

[2021-02-28 02:39] hinson20 commented on #398
Well its just that im not that good at stuff like that im just saying they
just need to improve thats all

On Sat, Feb 27, 2021, 8:24 PM DanTheMan827 <notifications@github.com> wrote:

[2021-03-16 14:22] #398 closed, assigned to nobody

[2021-03-16 23:33] Boyki007 opened #399 "SMS games won't play on SNES mini with Hackchi CE V3.9.1"
I have downloaded the latest version of Hackchi CE V3.9.1 for my SNES mini.
I already have been able to download additional ROMS for SNES and Sega Megadrive and they all work fine.
However the Sega Mastersystems with the SMS Plus module do not seem to work.
The games appear in the library of the SNES mini, but won't boot.

[2021-03-17 14:01] DanTheMan827 commented on #399
You've made sure the command line is correct and installed both retroarch and the appropriate core?

[2021-03-17 14:18] KMFDManic commented on #399
@Boyki007 Use Genesis Plus GX, which can be selected via a right click, select emulation Core, apply.  Also have RetroArch AND said Core installed.  SMS Plus, I will check into, and fix if it needs fixed.  But, as of right now, Genesis Plus GX AND Genesis Xtreme GX Command Lines function fine.  Not only that, if you run SMS games with Xtreme Command Line, depending on the game, you can pump out so

[2021-03-17 14:19] KMFDManic commented on #396
This game generally requires BIOS to function, or patching, due to it being a special chip game, designed in such a way...so it can display the "multi branching" track paths.  Without bios or patching, it can have horrific graphical glitches.  Also, run it with RetroArch, NOT Canoe, default emulator.

[2021-03-17 14:20] KMFDManic commented on #395
@Bluekerman Firewall, Virus Protection, VPN, WiFi, "wrong cable", are some reasons this issue may occur.  Best to unplug cable from back of system, wait a few seconds, plug back in, retry process, if no other conflicts exist.  And, yes, if on hakchi 2.3, you CANT just jump right onto a newer hakchi, without first fully going back to stock with the kernel that was dumped with 2.3.  Jumping to the n

[2021-03-17 14:25] KMFDManic commented on #388
This kind of support is not currently in the works, unfortunately.  Various combination of factors, including lack of interest, limited systems for "developers" to have, non FEL ability, with ease...due to no actual FEL Button (functioned ones), and so on.  I doubt it will happen anytime in the near future.  Luckily, it is a pretty badass system, on its own accord, regardless.  Most systems, IF mo

[2021-03-17 14:28] KMFDManic commented on #377
@niZ31 @padshance Unfortunately, Advanced Music Hack ONLY works with SNES/NES.  We don't currently have true ability to manipulate the assets of the main UI of MD Mini.  It actually would have been a good idea for them to have it as a "true" menu option to disable it, for those who don't want it.  But, as of right now, certain things cannot be done on MD, for the time being.  This may or may not c

[2021-03-17 14:29] KMFDManic commented on #385
@hoagie12 Glad all is ok on your end!  And, stay safe:)

[2021-03-17 14:29] #385 closed, assigned to nobody

[2021-03-17 14:30] KMFDManic commented on #381
@alluget Are you still having issues?  You need to make sure you have appropriate power source, NOT using the cable that comes with the MD Mini, and not plugged into a port on TV...But, into a wall outlet.

[2021-03-17 14:31] KMFDManic commented on #379
@yang560831 The cable that comes with the MD won't work.  With hakchi, you'd install repair kernel, then install JUST one RetroArch, and Genesis PLUS GX, and right click, select emulation Core, to run those games.  Default Controllers should work fine, as of the latest Update.

[2021-03-17 14:33] KMFDManic commented on #372
@tamaleman If you still have an issue, feel free to respond.  But, you have telltale signs of a fake Mini Classic.  If you have SNES games on Main UI, and they say "instruction manual", or Star Fox 2 is missing, "not locked", also fake.  Closing this issue, for now, as all red flags point to a Fake Mini, in this case.  Good luck finding a legitimate one, if you hadn't already!  And, feel free to b

[2021-03-17 14:33] #372 closed, assigned to nobody

[2021-03-17 14:34] KMFDManic commented on #376
@Slywars It would only work for games that are available to draw from in their database.  Glad you understand the limit and to wait once it overreaches said limit.  Let us know if you need any additional assistance!

[2021-03-17 14:34] #376 closed, assigned to nobody

[2021-03-17 14:35] KMFDManic commented on #378
@SeanyeWest Are you still having issues?

[2021-03-17 14:36] KMFDManic commented on #361
@Stvdputten Thanks for posting the most commonly needed solution to bypass this issue:)  Anyone else, who has posted in this issue, can use these steps, to 99.95 percent get back in action, unless any other conflicts exist:)

@Snaki99 @BigRob3185 @cutie-suzuki

[2021-03-17 14:36] #361 closed, assigned to nobody

[2021-03-17 14:37] #395 closed, assigned to nobody

[2021-03-17 14:39] KMFDManic commented on #369
@alantholland For future reference, don't run as an admin.  Do portable version, extracted, make sure to click yes to firewall permissions, run from C drive, not One Drive, etc.  And, for access denied, avoid having AVG, etc, other virus protection conflicts.  Also, you can right click on hakchi/games, properties, uncheck read only, apply, and retry process.  Let us know if you have anymore proble

[2021-03-17 14:42] Boyki007 commented on #399
I can not select a command line when righ clicking.
Retroarch Ozon is installed together with the SMS Plus and Genesis Extreme GX module.
The Genesis games load fine. Only Mastersystem will not load.

[2021-03-17 14:43] KMFDManic commented on #350
@MegaMech This is actually a bit of a misnomer, as the timing is quite different for MD/SNES/NES.  For SNES/NES, you can hold button indefinitely, and the flashing process will still occur.  And, you can let go once it starts, and it generally completes.  Mainly, on the MD Mini, you HAVE to let go the exact moment the Red LED turns off, OR the flashing process WILL fail.  Holding "reset" while plu

[2021-03-17 14:47] KMFDManic commented on #331
@Matvey81 This wouldn't be a hakchi issue.  This would be relative to you simply needing to ensure you have BIOS installed.  Install latest RetroArch, copy the 5200.rom, at a minimum to Master BIOS Module/system/5200.rom (navigate to that folder).  Then, with the Core installed, right click, select emulation Core, and run games with .a52 extension.  Being that this is a very commonly missed thing,

[2021-03-17 14:47] #331 closed, assigned to nobody

[2021-03-17 14:48] KMFDManic commented on #399
If you can't select the Genesis Plus Command Line, the Core is NOT installed, or not properly downloaded.  The Command Lines are pulled, only once the hmod exists in user_mods folder with current Hakchi.  Install via Modules, Install Additional Modules Tab, NOT via download and install on Mod Hub.  This will be more reliable, as long as you use the Modules installation method.  Report Back:)  Addi

[2021-03-17 14:54] FIXXER3000 commented on #396
I understand,  ok and what Core you recommend?

[2021-03-17 15:07] Boyki007 commented on #399
Are you talking about hackchi V3.9.1? None of the above makes sense...
Where can I find the Genesis Plus GX?

[2021-03-17 15:17] Boyki007 commented on #399
Meanwhile I have found out that Genesis Plus GX = Genesis Extreme GX module.

[2021-03-17 15:24] Boyki007 commented on #399
Problem solved!
My roms were not the right ones...

[2021-03-18 17:52] DanTheMan827 commented on #240
It's not exactly what you were describing, but 3.9.0 added a feature to import games from the console back to the computer.

It does not however import any of the folder structure or folder art.

[2021-03-25 20:41] yepyepyep4711 commented on #240
yup, saw that. It's great progress, thank you! At least there is a way of getting the games off the console Let's keep this open until we have the full functionality if you don't mind, though. Besides structure, things like core association and media would belong to "import catalogue from console", no?

I'm realising while I'm typing some people might understand "sync from console" to also include

[2021-03-26 21:00] MegaMech commented on #350
I believe you did not fully comprehend the issue as the second half of your comment discusses plugging in the cable. That part of the wording is clear and is not relevant to this issue. The part that's not clear is when to let go of the reset button.

You described a variety of issues proving the wording is inaccurate and could be further clarified. Yet you disagree that the wording should be chan

[2021-03-26 22:03] #350 closed, assigned to nobody

[2021-03-27 15:11] KMFDManic commented on #399
@Boyki007 Bad roms would do it:)

[2021-03-27 15:11] #399 closed, assigned to nobody

[2021-03-27 15:12] KMFDManic commented on #396
@FIXXER3000 2016 Bright can run it with BIOS (dsp4.bin in Master BIOS Module, system folder, install like any other hmod), and clear the graphic glitches up.  The MSU-1 Version, once patched, also works great.

[2021-03-27 15:18] KMFDManic commented on #384
@KASMonkey595 @Xeddius This feature is now a reality in latest hakchi 3.9.1:)  Have fun!

[2021-03-27 15:18] #384 closed, assigned to nobody

[2021-04-02 02:08] AnCh7 commented on #116
Still facing same issue

[2021-04-13 01:04] powerlesshero111 opened #400 "Just sits on waiting for your mini when loading Kernels"
**Describe the bug**
So, basically, just got a genesis mini, and it's just waiting on my mini for connection

**To Reproduce**
Steps to reproduce the behavior:
1. Go to kernels, click on install/repair
2. Follow directions to unplug, turn power to on, and plug USB back in while holding reset
3. Just remains on "Waiting for your mini"

**Expected behavior**
Should readily connect to mini

[2021-04-13 01:19] DanTheMan827 commented on #400
Do you know of any way to consistently get this to work across system configurations? That would be awesome

The biggest issue people have is driver issues, then if it’s not a driver issue it’s caused by the cable being used

This isn’t the fault of the program, it’s a case of Windows being Windows and just not grabbing the proper driver for RNDIS

[2021-04-13 01:21] powerlesshero111 commented on #400
I'll try picking up a better cable from Walmart tomorrow. The only one i had extra was for a charging pad, so that might be the problem.

[2021-04-15 14:53] AnCh7 commented on #340
Still has the same issue. I tried all different tricks - no luck.

[2021-04-22 15:08] DanTheMan827 opened #401 "Linked export text disappears when using French language"
**Describe the bug**
When using French as the language the linked export checkbox is not visible.

**To Reproduce**
Change the language to French, export to USB

**Expected behavior**
The export checkbox should be visible

**Screenshots**
![image](https://user-images.githubusercontent.com/790119/115738397-a1ac4700-a352-11eb-8614-ea8b8588b1ea.png)

[2021-04-22 15:12] DanTheMan827 commented on #400
Did the new cable fix this?

[2021-04-22 15:13] powerlesshero111 commented on #400
Yep. It was a cable issue. Works perfectly now

[2021-04-22 15:14] #215 closed, assigned to DanTheMan827

[2021-04-22 15:15] #257 closed, assigned to nobody

[2021-04-22 15:21] Narkoa commented on #401
I tested all other languages, on Arabic, English, German, Portuguese, Spanish and Swedish it works fine.

[2021-04-22 15:25] DanTheMan827 commented on #378
Since there has been no activity on this, I will assume that this issue has been resolved.

[2021-04-22 15:25] #378 closed, assigned to nobody

[2021-04-22 15:28] DanTheMan827 commented on #347
This is very interesting, the format feature in hakchi2 ce should use the exact same commands as the sdprep hmod, but this error would suggest that it never did anything after formating since it complains about there being no hakchi directory.

[2021-04-22 15:34] DanTheMan827 commented on #390
This has been added in 3.9.1 with commit de6fcb268373b5fdf398cbfc19a97f4f6219e03f

[2021-04-22 15:34] #390 closed, assigned to nobody

[2021-04-22 15:37] DanTheMan827 commented on #305
Does the system start without any SD card inserted?

[2021-04-22 15:41] DanTheMan827 commented on #306
Since there hasn't been any activity on this issue, I'm closing it.

[2021-04-22 15:41] #306 closed, assigned to nobody

[2021-04-22 15:46] DanTheMan827 commented on #249
I'm feeling lucky searches google and uses the first image found.

What you're looking for is the "Scan for new box art of selected games"

[2021-04-22 15:46] #249 closed, assigned to nobody

[2021-04-22 15:46] Mleardo commented on #305
How do I access the sd card? Ha.

I’ve only rooted it through connecting via usb

Michael Leardo
***@***.***
On Apr 22, 2021, 11:38 AM -0400, DanTheMan827 ***@***.***>, wrote:

[2021-04-22 15:50] DanTheMan827 commented on #305
Do you have an internal SD card, or do you have it plugged in with USB?

If you bought a pre-modded system with a SD card inside, just unscrew the four screws on the bottom and the SD card should be pretty obvious, if not it may be underneath the circuit board.

[2021-04-22 15:52] DanTheMan827 commented on #396
Closing this due to inactivity

[2021-04-22 15:52] #396 closed, assigned to nobody

[2021-04-22 16:36] Mleardo commented on #305
Should be internal, this is a unit that was never opened up

Michael Leardo
***@***.***
On Apr 22, 2021, 11:51 AM -0400, DanTheMan827 ***@***.***>, wrote:

[2021-04-22 20:05] Narkoa commented on #305
Are you sure you have a SD card in your mini? And not just the initial NAND?

[2021-04-22 20:07] Mleardo commented on #305
Well, no... since I haven’t opened the case up yet to check it is possible I just have the original NAND flash memory on it.

This is an OEM store bought unit

Michael Leardo
***@***.***
On Apr 22, 2021, 4:05 PM -0400, Narkoa ***@***.***>, wrote:

[2021-04-22 20:10] Narkoa commented on #305
You said you are able to flash your mini correctly right? What is the space amount hakchi recognize on your system when you plug it to the computer? That should be displayed in the bottom part of hakchi interface.

[2021-04-22 20:12] Mleardo commented on #305
Will reply back in one hour when I get home from work I will check it

Thank you

Michael Leardo
***@***.***
On Apr 22, 2021, 4:10 PM -0400, Narkoa ***@***.***>, wrote:

[2021-04-23 06:50] KMFDManic commented on #400
@powerlesshero111 Awesome, have fun with the Mini:)

[2021-04-23 06:50] #400 closed, assigned to nobody

[2021-04-23 06:54] KMFDManic commented on #337
@leonardosth You cannot really do a whole lot with a fake Mini, as far as running something like Hakchi on it, unfortunately.  Hopefully, by now, you were able to return the system!

@eseyer378 Can't open device means "wrong cable".  The cable that comes with the system will NOT work with hakchi, for the MD Mini.  You would need to use a cable, such as that of Samsung phone charger, or such.  The

[2021-04-23 06:54] #337 closed, assigned to nobody

[2021-04-23 06:55] KMFDManic commented on #380
@onesimo93 Access Denied error has been fixed as of latest hakchi 3.9.1  If you still get it in an older hakchi, you simply need to right click on games folder, properties, uncheck read only, apply, and then hakchi should no longer have the read only error:)

[2021-04-23 06:55] #380 closed, assigned to nobody

[2021-04-23 06:57] KMFDManic commented on #335
@impeeza A few fixes went into RetroArch Updates to help with 8bitdo, as well as an hmod to help with some easier D Pad N64 Game Mappings.  You still have any issues?

[2021-04-23 07:02] KMFDManic commented on #330
@JON99999 All 3 of these things are possible as long as you run games with RetroArch and the appropriate Cores.  Once in RetroArch Settings, you can see favorites, history, can access total amount of time played on any given game, etc.  Being that RetroArch already has this quite handled, it wouldn't be as high a priority to have it set up for the default emulator.  But, if someone puts together a

[2021-04-23 07:02] #330 closed, assigned to nobody

[2021-04-23 07:04] KMFDManic commented on #272
@fshenouda This wouldn't be a hakchi issue or true possibility for a feature request.  This is entirely handled by RetroArch and the Cores, and is already possible to run randomizers, as long as you appropriately set them up for use with the aforementioned.  I would probably be able to do a Video Tutorial and minor write-up to help some who have more difficulty getting these up and running.  But,

[2021-04-23 07:04] #272 closed, assigned to nobody

[2021-04-23 07:05] KMFDManic commented on #355
@Maxv33 Yes, if you've previously used another modification, you must go back to stock kernel, to avoid issues.  Use the backup that was made when first installing Lunar, go back to stock, then you should be safe to use hakchi.  And, same thing going from hakchi to Lunar, go back to stock:)  Hope you have things sorted, and that explains things for you!

[2021-04-23 07:05] #355 closed, assigned to nobody

[2021-04-23 07:06] #379 closed, assigned to nobody

[2021-04-23 07:09] KMFDManic commented on #304
@Diogen84 @DKClectic Having FTP issues generally means your firewall, virus protection, VPN, are conflicts preventing you from properly accessing it.  And, best way to install BIOS, without worry of FTP, is with the Master BIOS Module, which already has permission to install to the Mini, since you have to allow permission for hakchi to run, initially...with firewall permission prompt, on first run

[2021-04-23 07:10] KMFDManic commented on #258
@VadimOsovsky ONLY if you use RetroArch and a Core, such as Nestopia.  You can go into Core Options, and set to PAL:)

[2021-04-23 07:10] #258 closed, assigned to nobody

[2021-04-23 07:13] KMFDManic commented on #251
@JON99999 Since saves can be a conflict when switching from Default Emulator to RetroArch Core, this is not a recommended thing to do currently.  Best to use latest hakchi, and right click, select emulation Core on games for Default or RetroArch Core, apply, Synch or Export.  This way, you can retain "new" saves on either/or.

[2021-04-23 07:13] #251 closed, assigned to nobody

[2021-04-23 07:15] KMFDManic commented on #327
@HardDie @Studyingsoul As of newest hakchi 3.9.1, a few of these games have been fixed up.  But, unfortunately, for now, any of the non-fixed ones, you will need to run with RetroArch and a Core, such as Genesis Plus GX or PicoDrive:)

[2021-04-23 07:15] #327 closed, assigned to nobody

[2021-04-23 07:17] KMFDManic commented on #300
@Christophedlr As of currently, you must go back to stock kernel before updating to the latest hakchis.  If you have any firewall, virus protection, vpn, wifi issues, that can conflict with proper updating to newest hakchi.  You can hold down left shift, while uninstalling kernel, select the appropriate kernel to go back to stock on, and then install/repair kernel to get onto newest hakchi.  Hope

[2021-04-23 07:17] #300 closed, assigned to nobody

[2021-04-23 07:18] KMFDManic commented on #371
@Dkmickel Feel free to bump this post if you still have issues.  But, from the very brief information you gave, it appears you may very well have a "fake Mini" Classic.

[2021-04-23 07:18] #371 closed, assigned to nobody

[2021-04-23 07:19] KMFDManic commented on #307
@ncarrier Hakchi requires a virtual machine, at a minimum, running Windows 7, 8, 10, in order to work on Linux, at least, for now.

[2021-04-23 07:23] KMFDManic commented on #297
@scoobs851 These would generally be EEPROM relative.  The best way to handle this is to fall back to "RetroArch" saves, where applicable, particularly on the MD Mini.

[2021-04-23 07:23] #297 closed, assigned to nobody

[2021-04-23 07:24] impeeza commented on #335
I will test it tomorrow. Thanks for your response

[2021-04-23 07:26] KMFDManic commented on #288
@Dominator593 This isn't a hakchi issue.  A few games, here and there, have issues on SNES RetroArch Cores.  In the case of Smash TV, I would suggest trying it on SNES9x 2005 or 2010, where it should work fine.  Sometimes, games can slip through the cracks.  And, in fact, Smash TV had issues on my MAME 2003 Xtreme, of which was fixed up in a recent Release.  Feel free to bump this post with more i

[2021-04-23 07:26] #288 closed, assigned to nobody

[2021-04-23 16:11] KMFDManic commented on #374
@Clay5298 Unfortunately, non-official Mini Classics do not work with hakchi.  There are sometimes other means you can utilize to modify them, even as simple as copying and pasting roms to SD cards that go into their slots.  Each "fake" is a different ballgame.  But, alas, hakchi does not support these.  It would affect quality of hakchi to try to take on 20+ clone systems, in addition to the half

[2021-04-23 16:11] #374 closed, assigned to nobody

[2021-04-23 16:15] KMFDManic commented on #269
@SindenLightgun I had actually just seen your post relative to Sinden when cleaning up some of these issues.  I work with MAME 2003 Xtreme and NES Cores, etc.  If you are able to understand the coding enough to want to add driver support, I can handle the updating of the source code and compiling for the Mini Classics.  There are some great individuals in the Libretro Scene would I am sure would e

[2021-04-23 16:25] yepyepyep4711 commented on #269
Fceumm support would be awesome. Duck Hunt! Hunt all the ducks!

[2021-04-23 16:35] DanTheMan827 commented on #307
What architecture is your Linux install and does this still occur with 3.9.1?

[2021-04-23 16:41] DanTheMan827 commented on #304
There seems to be an issue with the FTP server on the classic that prevents writing to some directories, I may be able to fix this, but it might also be an issue of the FTP server giving up root privileges for security reasons.

[2021-04-23 16:48] DanTheMan827 commented on #377
@madmonkey1907

[2021-04-23 16:59] DanTheMan827 opened #402 "Please read before creating an issue"
Please refrain from using issues as a means to request help, that's not what they're for.

If you found a genuine bug, please feel free to submit a bug report and be sure to include as much information as possible.

If you have a question on how to use the software you can join [our discord](https://discord.gg/UUvqsAR), or post your question on [our subreddit](https://www.reddit.com/r/RockinTheCla

[2021-04-26 11:31] Narkoa opened #404 "Installing Wolfenstein3D does not work as intended"
**Describe the bug**
Issue when installing Wolfenstein 3D game, it does not shows up in UI after game syncing.
Seems due to a desktop file issue : **a "/" is misplaced at the end of the line Code=CLV-G-WOLF3D/ **

**To Reproduce**
1. Check in the Mod Hub > Games for ECWOLF: Wolfenstein 3D
2. Install prerequisite Retroarch + core ECWolf
3. Sync games with mini
4. See error --> The game is not added

[2021-04-27 03:08] adamwinn opened #405 "Support for Windows 10 ARM64"
**Is your feature request related to a problem? Please describe.**
The drivers do not install correctly when using Windows 10 ARM.   The device has a yellow exclamation mark in the Device Manager

When it installs the drivers, it just abruptly exits after some time. I dont know if there's a success message or anything, but since it just abruptly ends, I think it's crashing behind the scenes. Also,

[2021-04-27 06:00] impeeza commented on #405
I don't know if this help but on the open issue guide there's the next text:

3.3 Windows will sometimes install the incorrect RNDIS driver for the mini, if this happens select it in device manager and manually select the Microsoft Remote NDIS driver.

[2021-04-27 06:10] impeeza commented on #393
Any updates?

[2021-04-27 06:32] adamwinn commented on #405
So since I submitted this issue, I used my friend's computer with an Intel chip and Windows x64 and was able to flash it successfully.  Now when I plug it into my Windows ARM, it's recognized fine.

I could flash it back to factory settings to test the `Microsoft Remote NDIS driver` but I'm kinda enjoying playing some games lol

[2021-04-27 14:48] DanTheMan827 commented on #405
libWDI itself doesn't support Windows 10 ARM, without that even though hakchi2 ce can run, you'll need another computer to do the initial installation.

https://github.com/pbatard/libwdi/issues/155

[2021-04-30 01:30] Farrell39 opened #406 "Mini SNES Can't turn off playing Retroarch"
**Describe the bug**
<I updated recently to use Hakchi CE 3.9.1 and installed Retroarch Core, Nestopia and SNES 2010, and when I'm playing a NES/ SNES game over Retroarch the console don't turns Off when I switch the power button. So, I must switch reset too and immediately appears "SHUTING DOWN..." screen, or must unplug the USB cable.
*No problem with original games runing with canoe.>

**To Rep

[2021-04-30 01:40] impeeza commented on #335
Yes Some button works now, but the right stick still no work, but is a 8BitDo problem. thanks for your effort.

[2021-05-04 03:13] impeeza commented on #393
As this shouldn't be a software fail, I think the issue could be closed

[2021-05-05 19:35] KMFDManic commented on #406
This isn't a bug.  The "shell" needs to properly close, before you can shut the system off.  Avoid shutting down system, WHILE within a game.  Exit the game to the main menu, THEN turn the system off.  Trying to shut off system while in RetroArch can actually corrupt your saves.  So, consider this a failsafe, to protect your saves.  They are meant to be "saved" upon exit.  Hope that makes sense!

[2021-05-05 19:38] KMFDManic commented on #404
@Narkoa I actually fixed this with the last Release.  If you go to Mod Hub, Games Tab, redownload the game, you should see the desktop file displays the CODE correctly:)

Code=CLV-G-WOLF3D

Is what I see just rechecking from Mod Hub, right now.  Please confirm on your end, thanks!

[2021-05-05 19:41] KMFDManic commented on #388
@hossbags2 This particular request is now known in our "main" topic.  If a hack comes forth for TG-16 Mini, rest assured, that main topic, listed here, will be updated accordingly:)

https://github.com/TeamShinkansen/Hakchi2-CE/issues/402

[2021-05-05 19:41] #388 closed, assigned to nobody

[2021-05-05 19:42] KMFDManic commented on #354
@Darkshack1980 Thanks for the request.  This is something we would all like to see.  And, if and when it happens, information on it will be updated to THIS post:)  Thanks!]

https://github.com/TeamShinkansen/Hakchi2-CE/issues/402

[2021-05-05 19:42] #354 closed, assigned to nobody

[2021-05-05 19:43] KMFDManic commented on #381
@alluget If you still have issues, feel free to bump this post.  For now, it will be closed.  We have no problem trying to help you resolve, if you still have a problem.  But, a response will be quite helpful in getting that underway, in the event you do still need fixed up:)

[2021-05-05 19:43] #381 closed, assigned to nobody

[2021-05-05 19:46] KMFDManic commented on #335
@impeeza Have you attempted to map it via RetroArch Settings, Input, Binds, Port 1?  Note, this is global and affects ALL Cores!  You can default bind or tap start to debind.

[2021-05-05 19:47] KMFDManic commented on #311
@HellRell3000 Did you come to a solution for your issue?  Or, did you find out it was a fake Mini?

[2021-05-05 19:48] KMFDManic commented on #332
@elcheapouno Did you resolve your issue?  Or, still have the system sitting there, with the black screen issue?

[2021-05-05 22:54] impeeza commented on #335
Doesn't work, but us because the 8BitDo Retro Receivers for NES/SNES only give to the console a d-pad, and 10 butons (x, y, a, b, r, l, zr, zl, start & Select) and no more.  Is like you conect an original snes mini controller, retroarch can not receive Analog stick because the controller do not have analog hardware.

If I connect the 8BitDo controller directly by usb cable, or using Bluetooth adap

[2021-05-06 09:08] Narkoa commented on #404
Tested and acknowledged : "Code=CLV-G-WOLF3D" found in CLV-G-WOLF3D.desktop file.
Closing the issue.
Thank for the fix!

[2021-05-06 09:08] #404 closed, assigned to nobody

[2021-05-30 21:00] ifohancroft opened #407 "Excitebike rom corruption after extraction"
**Describe the bug**
I have used Hakchi to dump kernel, nand and system software. Then I have mounted (I can't remember which of those images) and copied the game roms from there.

All the game roms work on an NES emulator out of the box, except for Excitebike. I had to remove some bytes from the file to make it work.

I am not entirely sure if this is a bug with Hakchi that causes the dump to cor

[2021-06-13 17:09] KMFDManic commented on #407
Hakchi generally does not have much to with the roms that do or do not run on the default emulator.  There are No Intro and Good Sets.  Using the wrong rom will cause certain games to have issues.  Excitebike works absolutely fine on Fceumm and Nestopia.  On default emulator, if on NES Classic, depending on how you add it, or what rom it is, it may not work.  Do file, add, as is, and use Fceumm or

[2021-06-13 17:11] KMFDManic commented on #407
@ifohancroft Hakchi generally does not have much to with the roms that do or do not run on the default emulator.  There are No Intro and Good Sets.  Using the wrong rom will cause certain games to have issues.  Excitebike works absolutely fine on Fceumm and Nestopia.  On default emulator, if on NES Classic, depending on how you add it, or what rom it is, it may not work.  Do file, add, as is, and

[2021-06-13 17:25] Requiem-G opened #408 "Hide/show games"
**Is your feature request related to a problem?

When you add a ton of games from 20 different consoles, the view is hard to deal with.

**Describe the solution you'd like**

For each core and/or console, a button to hide/show the games.

**Additional context**

![Show-Hide Button](https://user-images.githubusercontent.com/85842505/121816638-0ada7780-cc7d-11eb-9414-b90c38746b25.png)

[2021-06-13 17:38] KMFDManic commented on #408
@DanTheMan827 We chatted briefly about "this" sort of addition a few years ago.  But, in THIS video, at the 5:28 Minute Point, you see what he is kind of going for.  I tested this before.  It was just a tad buggy, and lagged when selecting games.  Might be worth looking into the coding, which is linked to after my video:

5:28 to see the System Tree

https://www.youtube.com/watch?v=vvyvjzkFI64

Th

[2021-06-13 17:38] impeeza commented on #408
Hi, have you read the hakchi documentation?. There are some paragraphs about sort, classifying and arrangements of the folders and explain why you should keep a minimum and a MAXIMUM number of games per folder, and if you use some mods you can either have differents themes per folder.  Please go and read the documentation

[2021-06-13 17:47] KMFDManic commented on #408
@impeeza This request has absolutely nothing to do with folders, whatsoever:)  It is about taking a list of games and being able to expand them to see all, or close to see none.  If you have 4000+ games in hakchi, this will make things far easier to manage.

[2021-06-13 17:48] impeeza commented on #408
Humm. I see, thanks

[2021-06-14 16:23] ifohancroft commented on #407
Just to clarify, I am testing the rom on PC with FCEUX.
My point (and the reason for reporting this here) was in the off-chance that the fact the rom isn't playable out of the box has something to do with a bug in Hakchi about dumping the system files. So I thought it's worth reporting/giving you a heads up about it, in-case you didn't know.

[2021-06-15 00:04] KMFDManic commented on #407
@ifohancroft To better clarify, hakchi has zero to do with the actual emulation of any given game.  It is merely a front end, which helps run the actual emulators that play these games.  Corruption is not possible on a valid rom, when adding to hakchi.  BUT, if you are using a game that has a "header" in it, many of those will have issues, depending on the Core.  In example, Bloody Wolf for TG-16

[2021-06-15 00:35] ifohancroft commented on #407
@KMFDManic Very cool nickname btw!

Sorry, I should have explained better.

I am not tryig to play anything on the NES Classic.
I am not trying to run an emulator via Hakchi.

I used Hakchi to dump everything from my stock/unmodified NES Classic. Then, on a PC, from those dumps I extracted the stock game roms and there is (not just at the beginning of the file) extra data in the Excitebike ROM tha

[2021-06-16 17:05] KMFDManic commented on #407
@ifohancroft The reason you had issues with the rom is because it is not a known rom dump or proper redump.  Usually, roms have to be accounted for within the mappers of any given emulator, pertaining to NES games.  Out of all of the games on the default lineup, it seems that Nintendo used preexisting rom dumps for all of them, as they crc match up to known rom dumps!  That is, except for Excitebi

[2021-06-16 17:09] impeeza commented on #407
Uff this is great!  thanks a lot for your effort and time.

[2021-06-16 17:41] ifohancroft commented on #407
Thank you so much for taking the time to explain this! That explains so much! I had no idea this was the case.

[2021-06-30 20:45] KMFDManic commented on #407
@ifohancroft now that you better understand the intricacies of how this was done, hope that clears your mind:)  Let us know if you need anything else!

[2021-06-30 20:45] #407 closed, assigned to nobody

[2021-06-30 20:47] KMFDManic commented on #406
@Farrell39 For future reference, keep games to a minimum, as far as 30 per folder.  Reinstall RetroArch, if need be.  Micromanage saves, if you have too many.  If system won't shut off, it is usually due to too many games, or corruption (if running USB-HOST).  You can sometimes toggle power off, on, off, to force a shut down.  If that doesn't work, you got way too many games!  Let us know if you n

[2021-06-30 20:47] #406 closed, assigned to nobody

[2021-07-18 21:53] Mugenlord opened #409 "No google images for cover art and spines."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Additional context**

Hello,
Since last week i can't add google images anymore for cover artwork.Google search field stays empty (artwork cover and spine artwork).
KMFDMmanic told me it happens after the new rollout of a Google Update.Can.this be fixed so that we can use this great tool again?

[2021-07-21 16:52] Mugenlord commented on #409
Hello DanTheMa,827,thank you for participate to invest this "bug".
I see that this problem also was happened a while ago and that is was fixed again.
So any updates at this moment?
I use this tool a lot and for me (and others) it's great to work with.

[2021-07-25 14:20] Mugenlord commented on #409
Update fixed the issue.Thank you,for this fast solution.

[2021-07-26 20:15] #409 closed, assigned to DanTheMan827

[2021-08-08 09:44] RainbowTH1 opened #410 "Pseudo "Softlock""
Connecting to the NES/SNES Mini requires a driver, however it only asks you to install it once. However, if for whatever reason the drivers fail to install or are interrupted (for an example, I closed the driver window by accident) the software assumes the driver successfully installed, and gives you no way to reinstall the driver, rendering you unable to use the features on Hakchi2 CE that involv

[2021-08-09 02:12] DanTheMan827 commented on #410
In the event that the driver fails to install, the software will assume it succeeded, but when you attempt to use another feature requiring FEL mode it should prompt for the driver installation again

if the software doesn’t prompt for the driver that means it’s detecting that a driver is already present, although maybe not completely installed

You can attempt to use device manager to remove the

[2021-08-11 00:10] impeeza commented on #410
On the installation (uncompress) folder there is a subfolder called «driver» inside there is a file «classic_driver.exe» you can use it to install manually the driver.

Saying this, should be nice to add a item on the tools menu to (re)install the driver.

[2021-08-14 18:45] agentoranger commented on #369
This error is still occuring.

[2021-08-14 18:49] agentoranger opened #411 "Unhandled Exception has occurred, Tmds.MDns"
**Describe the bug**
Unhandled Exception has occurred when launching v3.9.2.

**To Reproduce**
1. Update to the latest release, from a release that was older.
or
Download a fresh release of v3.9.2.
2. Open the App
3. See error

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.Net.Socket

[2021-08-26 05:10] DanTheMan827 opened #412 "Add check for spaces in path before proceeding with linked export"

[2021-08-26 05:14] DanTheMan827 opened #413 "Prevent export if startup path and destination match"
If hakchi2 ce is stored in the “hakchi” folder at the root of a drive and the user attempts to export to that drive it will result in the games folder being cleared prior to starting the export

Export will then fail because all of the games were deleted by mistake

[2021-09-03 08:40] manymasters commented on #332
Bump!

Same issue here, plz help

[2021-09-03 20:55] DanTheMan827 commented on #332
@manymasters please ensure the issue matches this exactly and that it happens on the latest version.

In addition, please provide instructions on how to re-create it.

[2021-09-17 13:38] joe-elliott commented on #307
I am seeing something similar on Ubuntu 18.04.

[code]

[code]

[code]

[code]

This is using the Hakchi2 CE v3.9.2 portable download here: https://github.com/TeamShinkansen/Hakchi2-CE/releases/download/v3.9.2/hakchi2-ce-3.9.2-portable.zip

[2021-09-18 13:27] kimzeevaarders opened #415 "Database backed games cache to improve performance"
**Is your feature request related to a problem? Please describe.**
Been using Hakchi for 2 years now. Works perfectly. Over the years my collection has grown humongously and this has a heavy impact on performance. Not only does starting hakchi take over 5 minutes (loading games...) but also every action you take like scraping games or setting cores always triggers the "saving selected games/saving

[2021-09-19 11:18] kimzeevaarders opened #416 "New, seperate selectbox below/under already existing console selectbox for quickly selecting all games for a specific console/core"
**Is your feature request related to a problem? Please describe.**
Having a large game library makes looking for a specific console in the list a very tedious process. I always need to scroll, scroll, scroll to directly find the games for a certain console/core. Actually it's more like a binary search process for me haha.... For me it would be a mega feature if I could select all games for certain

[2021-10-01 14:31] gabriel-samfira commented on #307
Got it running by installing the following:

[code]
The monodoc-newtonsoft-json-manual pulls in a bunch of dependencies. Probably not all of them are needed, but I was too lazy to filter out the cruft.

This was on ubuntu 21.04.

[2021-10-18 07:29] jane-remover commented on #255
is there any way we can get this implemented to work for for USB controllers? some don't have home buttons - it'd be really useful to have the shortcut work in those use cases

[2021-10-26 09:28] ghost commented on #305
I bought a Nintendo Super Famicom, installed hakchi CE v3.9.2, installed the customized flash kernel, uploaded around 80 snes roms to the mini console. When connected to my laptop, hackchi recognizes and interact normally with the mini console. When connected to the TV, right after I turn the console in, Hakchi logo is showed on the screen for some seconds. Nes mini screen (apparently with one gam

[2021-10-26 10:11] ghost opened #417 "After hakchi CE 3.9.2 logo on TV (boot), Nintendo Super Famicon shows black screen and shuts off."
**Describe the bug**
When connected to the TV, right after I turn the console in, hakchi logo is showed on the screen for some seconds. The Nintendo Super Famicon screen (apparently with one game art in the center - the last one I uploaded) is showed for a brief instant (less than one second). Then all goes back to black screen and the console shuts off. It is impossibile do play this way. What sh

[2021-10-27 06:04] #417 closed, assigned to nobody

[2021-11-05 05:05] azxz opened #418 "String was not recognized as a valid DateTime exception pop up when syncing games with Genesis Mini"
i have a genesis mini console and i'm using Hakchi CE v3.9.2 to sync some games to my plugged console to the computer
so when i hit sync games with mini an exception comes up saying

String was not recognized as a valid DateTime.

-The USB cable i use to transfer games is not the one that came with the genesis mini. (also tried other cables and didn't work )
-The game is a MAME game targeting MAME

[2021-11-10 17:51] DanTheMan827 commented on #305
@PewterSteam3002 this would suggest an issue with one of the games, try to remove them and see if the issue still occurs.

Also, please don't use github issues for support

[2021-12-24 17:30] Wowter commented on #116
Same problem here

[2021-12-29 21:03] underme123 commented on #116
It's unfortunate that the problem still persists for myself and for others. I have been to the subreddit and if the copy/paste list of solutions does not work for you then you get ridiculed and downvoted. I have retired my mini consoles, mediocre while it lasted.

[2021-12-30 04:57] impeeza commented on #116
100% of times that problem is a computer/driver/OS related, nor Hakchi; try another computer and the problem will go away. My self sometime had to reinstall all my OS in order to get working.

Be polite and grateful because this is a free project and cost so many effort and dedication.  No body forces you to use.

[2022-01-09 00:06] mfdoo opened #419 "YOUR DEVICE IS TAKING A LONG TIME TO REBOOT"
YOUR DEVICE IS TAKING A LONG TIME TO REBOOT
![hakchi problem](https://user-images.githubusercontent.com/95509894/148662679-d42a9a4a-cca4-40d9-b4da-b85070b93ad5.PNG)

For some reason, every time I try to install a kernel into my SNES Classic console,  this pops up. The loading time usually gets stuck at 14% and is overall slower than it was when I did it a few years ago. Can somebody help me with t

[2022-01-09 20:04] MPulak commented on #419
Hello,
I have the same issue.

[2022-01-10 05:53] PokeyManatee4 commented on #419
Same But At 95% and it mess the fuck up the nes mini and my  computer, i waited a long time for it to come on but it dint not

[2022-01-14 18:47] JeanM54 commented on #419
same issue with nes mini.

[2022-01-23 09:19] PokeyManatee4 commented on #362
Yeah Prob Fake Just Open To See That's How I Verify Mines Was Real And Youtube Videos That Did the same also

[2022-01-23 09:23] PokeyManatee4 commented on #359
Its New And Its Own Tool BTW It Uses Kernel And Nand Dumps To View @DanTheMan827
And Srry Im Just Talking Bout It Now BC I Just Learned Bout CE

[2022-01-24 01:42] PokeyManatee4 commented on #419
@DanTheMan827

[2022-01-24 02:54] impeeza commented on #419
For me the issue go after a S.O. reinstalling.  Try another computer first

[2022-01-24 13:50] PokeyManatee4 commented on #419
Who?

[2022-01-24 13:50] PokeyManatee4 commented on #419
What Is S.O

[2022-01-24 14:48] impeeza commented on #419
Sorry, O.S. (Operating System) My native language is Spanish, in spanish is S.O. 😸

The moral is what the most of the times, the "too long time to reboot" is caused by drivers or cables.  at my case the drivers had a conflict at O.S. level so removing and reinstalling the NES driver doesn't fix the problem, for my I had to install a fresh windows (yes was my fault I did mess my Windows Beyond repa

[2022-01-25 13:51] PokeyManatee4 commented on #419
My OS Works My Dad Installed It I Think Its The Computer Or USB If Computer I Will Use Other Computer If USB I Will Try An Other Computer.

[2022-01-25 13:54] PokeyManatee4 commented on #419
Im Also Guessing Driver Issue Because The Drivers Are Old From Hakchi2 From ClusterM

[2022-01-27 13:41] PokeyManatee4 commented on #419
@impeeza Thank You I Found Out It Is A Computer Issue I Used A Diff Computer And It Worked But I Had To Retry A Lot Of Times But It Worked

[2022-02-25 01:30] edmaul69 opened #420 "Hakchi v3.9.2 no google images"
**Describe the bug**
when you click the google button no images show up. Just a blank white screen

**To Reproduce**
<!-- Steps to reproduce the behavior:
1. If you click the google button it brings up a white empty box.

[2022-02-25 02:40] impeeza commented on #420
It's True, for my running on Windows 10 in debug mode, the error is:

`Web request: https://www.google.com/search?q=Balloon+Fight+(fds+%7c+nes+%7c+famicom)+(box%7ccover)+art&source=lnms&tbm=isch
No results found`
but if i put the URL on a google tab images are find:
![image](https://user-images.githubusercontent.com/41979604/155643361-b78e27ce-24c3-4161-ae69-aa36b1dff585.png)

[2022-03-15 20:53] #420 closed, assigned to nobody

[2022-03-21 14:57] espiox commented on #340
I'm having the same problem. After a while (2 years?) I'm trying to add new games to my previously-hacked SNES Mini. I'm using the same PC and USB cable and Hakchi install to connect my SNES Mini. When I turn it on, Hakchi doesn't detect the SNES Mini. If I try to reinstall the kernel, it can tell it's been put into FEL mode, but the console hangs at the reboot step (Hakchi logo on screen).

I'm c

[2022-04-02 20:02] odog8 opened #421 "Malware warning from Windows defender when attempting to upgrade to 3.9.3.0"
**Describe the bug**

Windows defender detects malware in latest build of hakchi
**To Reproduce**

upgrade to 3.9.3
**Expected behavior**

no malware warning
**Screenshots**

**Additional context**

[2022-04-02 20:02] DanTheMan827 commented on #421
Safe screen or actual malware detection?

[2022-04-02 20:03] odog8 commented on #421
actual malware detection

[2022-04-02 20:03] odog8 commented on #421
Probably a false positive but idk

[2022-04-02 20:11] DanTheMan827 commented on #421
Weird, I just uploaded the installer and portable version to virus total and defender detected nothing

some other scanners detected Linux “malware”, but it probably confused hakchi with it

[2022-04-04 20:42] turbocomppro commented on #421
Yup. Can't update from hakchi or download unless I turn off all the virus scanners.

[2022-04-08 10:36] eugeneniemand commented on #421
I get this warning on Win 11
![image](https://user-images.githubusercontent.com/6813309/162419300-ef0b21c8-e9e8-4188-977b-46615d641ab2.png)

[2022-05-06 02:42] cyberkid22 commented on #289
its the USb format as fat32 and then reinstall games this will fix your issue

[2022-05-29 15:24] Fisma10 opened #423 "Sega Megadrive (EUR) games missing data"
The "Original games" for the Megadrive are missing
- Publisher
- Copyright
- Release date
- Max players
- Genre
And the Region is set to United States for most of them (Some of them are NTSC though, but not all)
![Bug1](https://user-images.githubusercontent.com/95867718/170877276-770bf98e-592c-4aa3-abdc-aa7700369a2e.PNG)
![Bug2](https://user-images.githubusercontent.com/95867718/170877283-7f54287d

[2022-05-30 09:41] jimi222dfff opened #424 "help me. my genesis mini"
![캡처](https://user-images.githubusercontent.com/106525217/170964735-adbb3a31-3eb4-4652-a681-0815fbfd2aab.PNG)

![vvvvv](https://user-images.githubusercontent.com/106525217/170966474-05929448-3daa-4227-95ff-e7cd3f90865a.PNG)

[2022-05-30 09:42] jimi222dfff commented on #424
It's not working anymore. no vpn. no virus . no fire wall. 85percent to twenty minutes have passed

[2022-06-03 20:00] KMFDManic commented on #424
The problem could very well just be your cable.  Best to use the original one that comes with the system.

[2022-06-03 21:16] jimi222dfff commented on #424
The Mega drive original cable did not work, and the Nes mini cable and the Android cable were used. It's still not working
-----Original Message-----
From: "Kyland ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; ***@***.***>;
Sent: 2022-06-04 (토) 05:00:14 (GMT+09:00)
Subject: Re: [TeamShinkansen/Hakchi2-CE] help me. my genesis mini (Issue #424)

The problem could very well just be your cable. Bes

[2022-06-03 21:24] impeeza commented on #424
Remember the Original Mega Drive cable is only for charge, use a know good working data cable, check the drivers on your PC (if needed remove and reinstall the drivers) and restar the console.

[2022-06-03 21:31] jimi222dfff commented on #424
I didn't understand which driver to install
-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; ***@***.***>;
Sent: 2022-06-04 (토) 06:24:18 (GMT+09:00)
Subject: Re: [TeamShinkansen/Hakchi2-CE] help me. my genesis mini (Issue #424)

Remember the Original Mega Drive cable is only for charge, use a know good working data cable, check the drivers on your PC (if needed rem

[2022-06-03 21:33] impeeza commented on #424
Ok, your problem could be no following the instructions, please read the page of the README.MD and follow all the instructions. this is no space for help support, this is a Bug an Issue reporting zone.

[2022-06-12 01:04] adaptPerception commented on #372
I had the same problem. I was reasonably sure mine was not a fake. It turns out, for me, the problem was the old hakchi kernel I had install from version 2.0.21.32. I removed it by following the instruction here

https://snesclassicmods.com/how-to-switch-from-hakchi2-to-hakchi2-ce/

Summed up as,

1. Open the old hakchi2 and go to Kernel > Uninstall and hit Yes.
2. Once completed, go to Kernel > F

[2022-06-14 16:01] #401 closed, assigned to DanTheMan827

[2022-06-14 16:13] fermel01 opened #426 "Compatible with BlueRetro"
I wanted to ask if this version is compatible with BlueRetro by Darthcloud (BlueRetro is a multiplayer Bluetooth controllers adapter for various retro game consoles.)?
Since currently there are problems with Hackchi2

thanks for your support!!

[2022-06-14 16:39] DanTheMan827 commented on #426
I take it the device is simulating wii classic controllers?

If the hardware doesn't have pull-up resistors on the data and clock lines, it won't work.

Official Nintendo controllers have these resistors, but not all third party devices do.

The Wii remote doesn't suffer from this same issue though, since that has those resistors in the remote itself in addition to the controller.

If they're miss

[2022-06-14 16:56] #424 closed, assigned to nobody

[2022-06-14 17:01] DanTheMan827 commented on #421
Unfortunately, these kind of things just happen...

It's a case of antivirus _thinking_ there's a virus based on who knows what factors... might by download count, might be that it isn't codesigned, and maybe it's just because it's coming from github

I've seen one antivirus detect it because some of the linux binary files used for the mod itself are UPX packed to save space

[2022-06-14 17:07] fermel01 commented on #426
Wii controls are not being used, the controls that are being used are ps4, ps5 and Nintendo switch
I leave a link for more description:

https://github.com/darthcloud/BlueRetro/wiki/BlueRetro-SNES-Mini-Internal-Install

https://www.youtube.com/watch?v=Mb7_PWh9c8s

[2022-06-14 17:11] DanTheMan827 commented on #415
There's absolutely a lot of room for improvement, and using individual files for metadata is because that's how the nes/snes classic handles the games on the system.

Implementing a cache system backed by something like SQLite wouldn't be too difficult _I don't think_, but the game directories would still have to be scanned in some way to ensure the cached data doesn't get out of sync. Perhaps sto

[2022-06-14 17:29] DanTheMan827 commented on #426
Yes, the BlueRetro in this situation is emulating a classic controller, albeit internally.

If you omitted the pull-up resistors, it will not work, or the behavior will be very erratic.

[2022-06-14 17:46] darthcloud commented on #426
BlueRetro author here.
The issue is more properly documented here: darthcloud/blueretro#286

Hardware wise everything look fine (pull-up are there) and it work very well with the original Nintendo kernel.

However when using the Hakchi kernel I observe random inputs.

It's not something I would expect to be investigated on the Hakchi side.
Unless you got a quick idea of why behavior would be diffe

[2022-06-14 19:40] DanTheMan827 commented on #426
@darthcloud a couple changes were made to the clovercon driver to add things like a shortcut combo that acts like the home button, nunchuck support for one-handed players (more so for NES than SNES games), optional toggle for turbo mode.

I've posted more information on the BlueRetro issue

[2022-06-16 20:26] jimi222dfff opened #428 "It stops when it reaches 85 percent on the mega drive mini"
![09090909](https://user-images.githubusercontent.com/106525217/174157297-677e8927-858c-41fc-82cc-cc42a93b906d.PNG)
\
![20220606_073109](https://user-images.githubusercontent.com/106525217/174157449-423e1385-fb74-4b3e-85b8-93c6a81fdc46.jpg)
![20220606_073103](https://user-images.githubusercontent.com/106525217/174157456-792b704e-c5c8-4d04-90fc-f3d2cd48e1b6.jpg)
![20220606_073113](https://user-imag

[2022-06-17 04:10] russellweed commented on #421
I received the same warning on Windows 10 (fully updated), from either downloading the portable release off GitHub or using the built-in auto-updater.

![image](https://user-images.githubusercontent.com/1160446/174223251-7bb59d45-5359-4c1f-975d-80f38f13b801.png)

Maybe just to be on the safe side you guys should make sure you haven't been compromised, either via dependencies or on your build machi

[2022-06-20 13:07] darthcloud commented on #426
A fix for this is coming in the next release of BlueRetro, this issue can be closed, see darthcloud/blueretro#286 for detail.

Thanks for the help!

[2022-06-21 01:03] DanTheMan827 commented on #426
@fermel01 could you confirm if the latest firmware fixes this issue?

[2022-06-25 22:38] Bag-Head opened #429 "Adding an .ips patch file for rom using the "Add More Games" button shows misleading prompt suggesting the ips file can be patched"
**Describe the bug**
I stumbled into this entirely by accident, but if you happen to click an .ips patch file when using the "Add More Games" button, a pop up prompt appears stated the ips file you added can be patched and asks if you want to apply it. This gives the false impression that games already in your games list/games you're adding could be patched simply by adding the ips file to the gam

[2022-08-18 02:12] bRubble6502 opened #431 "Support for Atari Flashback X?"
I've been using this program for quite a while for to add more games to my Nintendo and Sega mini consoles, but it looks like the same thing can't be done for Atari systems. I was wondering if the feature of adding more games to the Atari Flashback X consoles could be done. If not, I might look elsewhere. The most common method I've seen was by using an OTG adapter, which looked pretty tedious and

[2022-08-30 11:31] eku commented on #431
@MayKannoGithub I guess you know [this forum](https://forums.atariage.com/forum/69-atgames-flashback-and-portable-consoles/) that has instructions how to add games to the AFB consoles.

[2022-10-04 02:43] Z-sidesbf opened #432 "I accidentally deleted it and thought: oh ok! im ok with reinstalling it! BUTT. i had games on it like hacked cores, hacked games, etc. so im all like: oh ok sure. it adds games right? NOPE. if you delete the app and then try adding apps. IT WILL DELETE IT ALL."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Additional context**

[2022-10-04 03:53] DanTheMan827 commented on #432
Not a bug, the app synchronizes its state with the console

[2022-10-04 03:53] #432 closed, assigned to nobody

[2022-10-04 03:59] #426 closed, assigned to nobody

[2022-10-04 13:45] DanTheMan827 commented on #421
Which file inside of the archive does it detect?

[2022-10-05 18:11] fermel01 commented on #426
It is right

[2022-10-30 03:40] PW5190 opened #433 "Support for SEGA Genesis / Mega Drive Mini 2"
You know, Hakchi supports dumping the 42 stock games and adding additional games to the SEGA Genesis / Mega Drive Mini 1. And now, SEGA has recently released a more powerful, compact Genesis / Mega Drive Mini 2 with a whopping 60 games, including SEGA CD / MEGA CD titles, and seven additional bonus games (including VS Puyo Puyo SUN).
Since the emulation and software side was coded by the same crea

[2022-11-07 19:50] megaDRONe86 commented on #433
Thumbs up for this feature 👍🏻

[2022-11-08 04:55] matbess commented on #116
This was the problem.

Make sure you do the following:

1. On menubar go to "Devices->USB" and select hakchi classic
2. Go back to Machine->Settings->Ports->USB and add another USB device. Now you'll see "hakchi classic" - add it.

<img width="389" alt="Screen Shot 2022-11-07 at 8 55 12 PM" src="https://user-images.githubusercontent.com/1884731/200478497-787f4b3e-7364-4239-b69b-1f8f31be384f.png">

[2022-11-08 17:14] Leonardo5681 opened #440 "Italian."
Hi, I would like to have the Italian language on Hakchi2CE, if you want I can do the translation, but I only do the translation

[2022-11-08 21:02] DanTheMan827 commented on #440
Fill out the attached file with the new translations and send it back to me.

Some strings may contain multiple lines.

If you come across things like `{0}` or `{1}`, they can be moved around in the phrase, but they can not be removed.  They will be replaced with various values as the program runs and uses them.

The translations will also need updates periodically,

[2022_11_08_14_50.xlsx](https:

[2022-11-09 19:19] Leonardo5681 commented on #440
emh I thought it was much simpler, but is there already someone working on it? Or can I take the language pack from hakchi2 and put it in hakchi2CE?

[2022-11-12 02:37] DanTheMan827 commented on #440
It's not really that simple

Much of the text in ce either wasn't in hakchi2, or things have changed.

[2022-11-12 07:22] Leonardo5681 commented on #440
the problem is that it takes more than two hours in my opinion to do it then tell me if it doesn't take much, since today I'm free I try ok

[2022-11-12 11:22] Leonardo5681 commented on #440
I'm working on the translation I'm on line 150 within this week maybe I'll send it to you

[2022-11-12 18:28] Leonardo5681 commented on #440
Hey, I'm done translating. I'll send you the file, tell me if it's okay.
[2022_11_08_14_50_compiled.xlsx](https://github.com/TeamShinkansen/Hakchi2-CE/files/9995646/2022_11_08_14_50_compiled.xlsx)

[2022-11-13 18:49] Leonardo5681 commented on #440
hey?

[2022-11-14 05:28] DanTheMan827 commented on #440
Sorry, I'll get you a build tomorrow.

[2022-11-14 13:33] Leonardo5681 commented on #440
Okok

[2022-11-14 13:45] Leonardo5681 commented on #440
Sorry, I realized that I made a mistake, instead of automatic I wrote the folder management thing. So instead of that file use this, and sorry again.
[2022_11_08_14_50_compiled.xlsx](https://github.com/TeamShinkansen/Hakchi2-CE/files/10003502/2022_11_08_14_50_compiled.xlsx)

[2022-11-14 13:46] Leonardo5681 commented on #440
it looks the same but I fixed the error

[2022-11-16 02:11] impeeza commented on #421
Unwanted program IS NOT MALWARE (VIRUS, TROJAN, RAMSOMWARE, etc.) is the way in which Microsoft tell you "you are downloading a program what I THINK you shouldn't use" in other words:  The developer has not pay me lots of money for me do not scare the users and give you bad reputation.

So, you have two options:  use a real antivirus, or use a net explorer to scan the file.
do not trust the people

[2022-11-17 21:05] DanTheMan827 commented on #421
@impeeza Here's the thing, I can download the same file and none of my systems detect it...
![image](https://user-images.githubusercontent.com/790119/202559738-cf4e90b9-ef3e-4341-bc26-5d9a52cab83b.png)
It's _probably_ caused by the updater triggering some behavior the antivirus doesn't like.

[2022-11-21 14:13] #440 closed, assigned to nobody

[2022-11-26 03:09] Parcells3 opened #443 "unable to download games"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Additional context**

[2022-11-26 03:10] Parcells3 commented on #443
I tried to click on the rockin' the classics but this option was not given after the second download

[2022-11-29 20:10] Gaetan-dc commented on #399
I had the issue. The problem was that the SMS Plus module wasn't linked to .sms roms, When I select my games in the list and press "select emulation core", the "Core" is unassigned. If I assign "SMS Plus GX" then it works.

[2022-11-30 16:58] #208 closed, assigned to DanTheMan827

[2022-11-30 16:59] #201 closed, assigned to DanTheMan827

[2022-11-30 17:01] #202 closed, assigned to DanTheMan827

[2022-11-30 17:01] #200 closed, assigned to DanTheMan827